# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# Virtual environment
venv/
env/
ENV/
.hr_management/     # se o virtualenv estiver aqui dentro

# Django stuff:
*.log
*.pot
*.pyc
*.pyo
*.sqlite3
db.sqlite3
local_settings.py
media/
staticfiles/
static/
node_modules/

# VS Code
.vscode/

# OS files
.DS_Store
Thumbs.db

# Pipenv / Poetry
Pipfile.lock
poetry.lock

# Env variables
.env
.env.*
